
/* Desktops and laptops ----------- */
@media only screen and (max-width: 1280px) {
/* Styles */
	.hamburger {display: none !important;}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
/* Styles */
	
	.hamburger {display: none !important;}
	
}


/* Desktops and laptops ----------- */
@media only screen and (min-width: 980px) and (max-width: 1023px) {
/* Styles */
	.hamburger {display: block !important;}
	.main-menu, .top-rcc{display: none !important;}
}

@media only screen and (min-width: 801px) and (max-width: 979px) {
/* Styles */
	.hamburger {display: block !important;}
	.main-menu, .top-rcc{display: none !important;}
	.box-price .box h2 {font-size: 20px !important}
}


@media only screen and (width: 800px) {
	.hamburger {display: block !important;}
	.main-menu, .top-rcc{display: none !important;}
	.menu .top-logo {width: 100px !important;}
	.box-price .box h2 {font-size: 20px !important}
}

@media only screen and (min-width: 768px) and (max-width: 799px) {
/* Styles */
	.hamburger {display: block !important;}
	 nav, .main-menu, .top-rcc{display: none !important;}
	.menu .top-logo {width: 100px !important;}
	.brand:before {content: "profile menu"}
	.otp-section img {display: none;}
	.box-price .box h2 {font-size: 20px !important}

}



@media only screen (width: 767px) {
	.hamburger {display: block !important;}
	.main-menu,.top-rcc{display: none !important;}
	.menu .top-logo {width: 100px !important;}
	.brand:before {content: "profile menu"}
	.otp-section img {display: none;}
}


/* Mobile Landscape Width to Tablet Portrait Width */
@media only screen and (min-width: 361px) and (max-width: 767px) {
	.hamburger {display: block !important;}
	.main-menu,.top-rcc{display: none !important;}
	.menu .top-logo {width: 100px !important;}
	.brand:before {content: "profile menu"}
	footer .copy {text-align: center !important; font-size: 9px !important;}
	footer ul {display: block;text-align: center;width: 100% !important;}
}




@media only screen and (min-width: 321px) and (max-width: 360px) {
	.hamburger {display: block !important;}
	.main-menu,.top-rcc{display: none !important;}
	.menu .top-logo {width: 90px !important;}
	.caption-right {left: 10% !important}
	.caption {bottom: 0; left: 20px;}
	.service-box .icon-services {background-size: contain;width: 50px;}
	.service-box p {font-size: 13px;}
	.brand:before {content: "profile menu"}
	.otp-section .col-md-4 {display: none;}
	.otp-section h2 {font-size: 19px;margin-top: 30px;}
	.otp-section h4{font-size: 14px;}
	.otp-section .numb-otp .vcode-input {width: 33px;}
	.otp-section {padding-bottom: 40px;}
	.cta-footer span {text-align: center;}
	.cta-footer h2 {font-size: 16px;}
	.cta-footer p {font-size: 13px;}
	.quotes-section h2, .quotes-section h2 span{font-size: 14px;line-height: 1.4}
	.quotes-section {margin-bottom: 20px;}
	.section-registration {padding: 0 0 40px 0 !important;margin: 0;}
	.section-registration h3 {font-size: 16px;}
	.login-socialmedia a {font-size: 15px;width: 90%;margin: 0 auto 20px;height: 40px !important;padding:7px 14px;}
	.ic-facebook, .ic-twitter, .ic-google, .ic-linkedin {padding-left: 25px !important;}
	footer .copy {text-align: center !important; font-size: 9px !important;}
	footer ul {display: block;text-align: center;width: 100% !important;}

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
	.hamburger {display: block !important;}
	.main-menu,.top-rcc{display: none !important;}
	.menu .top-logo {width: 90px !important;}
	.caption-right {left: 10% !important}
	.caption {bottom: 0; left: 20px;}
	.document-info-bg {background-image: none;}

	.slick-dots {display: none !important;}

	.brand:before {content: "profile menu"}
	.otp-section .col-md-4 {display: none;}
	.otp-section h2 {font-size: 19px;margin-top: 30px;}
	.otp-section h4{font-size: 14px;}
	.otp-section .numb-otp .vcode-input {width: 15% !important;}
	.otp-section {padding-bottom: 40px;}
	.cta-footer span {text-align: center;}
	.cta-footer h2 {font-size: 18px;}
	.cta-footer p {font-size: 13px;}
	.quotes-section h2, .quotes-section h2 span{font-size: 14px;line-height: 1.4}
	.quotes-section {margin-bottom: 20px;}
	.section-registration {padding: 0 0 40px 0 !important;margin: 0;}
	.section-registration h3 {font-size: 16px;}
	.login-socialmedia a {font-size: 15px;width: 90%;margin: 0 auto 20px;height: 40px !important;padding:7px 14px;}
	.ic-facebook, .ic-twitter, .ic-google, .ic-linkedin {padding-left: 25px !important;}
	footer .copy {text-align: center !important; font-size: 9px !important;}
	footer ul {display: block;text-align: center;width: 100% !important;}
}


 @media only screen and (min-width: 140px) and (max-width: 320px) {
 	.hamburger {display: block !important;}
	.main-menu,.top-rcc{display: none !important;}
	.menu .top-logo {width: 80px !important;}
	.caption-right {right: 4% !important}
	.caption {bottom: 0;}
	.foot-menu li {text-align: center;}
	.carousel-caption h1 {font-size: 28px !important;margin-bottom: 30px;}
	.carousel-caption p {display: none;}
	.car-float {display: none !important;}
	.advantage {background-image: none;}
	.advantage p {text-align: center;}
	.testimonial {padding: 20px 0 0 0;}
	.cta-home {text-align: center;}
	.cta-home h2 {font-size: 20px;}

	.usp .number {text-align: center;}
	.parallax-services {min-height: 300px;}

	.slick-dots {display: none !important;}
	.service-box .icon-services {background-size: contain;width: 50px;}
	.service-box p {font-size: 13px;}

	.accordion-faq {padding: 0!important;}
	.brand:before {content: "profile menu";position: absolute;color: #000000;right:40px top:5px;}
	.account-management .prof-info div {-webkit-column-count:1;-moz-column-count: 1;column-count: 1;}
	.overlay {padding: 30px 0;}
	.document-info-bg {background-image: none;}
	.cta-footer span {text-align: center;}
	.cta-footer h2 {font-size: 16px;}
	.cta-footer p {font-size: 13px;}
	.contactus-section {margin-top: -50px;}
	.quotes-section h2, .quotes-section h2 span{font-size: 14px;line-height: 1.4}
	.quotes-section {margin-bottom: 20px;}
	.section-registration {padding: 0 0 40px 0 !important;margin: 0;}
	.section-registration h3 {font-size: 16px;}
	.section-registration h5 {font-size: 13px;line-height: 1.4; padding: 10px;}
	.login-socialmedia a {font-size: 15px;width: 90%;margin: 0 auto 20px;height: 40px !important;padding:7px 14px;}
	.ic-facebook, .ic-twitter, .ic-google, .ic-linkedin {padding-left: 25px !important;}
	footer .copy {text-align: center !important; font-size: 9px !important;}
	footer ul {display: block;text-align: center;width: 100% !important;}

 }